.Tabs {
  width: 50%;
  height: auto;
  min-height: 400px;
  background: #7b7b7b;
  margin: 3.5rem auto 1.5rem;
  padding: 2rem 1rem;
  color: #e8f0f2;
  border-radius: 2rem;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  width: 60%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #39a2db;
  border-radius: 2rem;
  padding-left: 0px;
}

.react-tabs__tab {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}

.react-tabs__tab--selected {
  background: #39a2db;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:hover {
  background: rgba(50, 224, 196, 0.15);
}

.react-tabs__tab:first-child {
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}

.react-tabs__tab:last-child {
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
  text-align: center;
}
.modalWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  height: auto;
  width: 28rem;
  background: rgb(255, 253, 253);
  border-radius: 5px;
  display: flex;
  margin: auto auto;
  margin-top: 15rem;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  animation: fadeInDown 0.3s;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.btn-close {
  position: absolute;
  top: -5px;
  right: -5px;
  height: 2rem;
  width: 2rem;
  background-color: red;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}
.address-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: rgb(0, 0, 0);
  border-radius: 0.5rem;
  margin-top: -5rem;
}
.address-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  color: rgb(0, 0, 0);
  border-radius: 0.5rem;
}
.action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
table.checkout-table-order {
  width: 40%;
  margin-left: 20rem;
  margin-top: 1rem;
  height: auto;
}
