.increase,
.decrease {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: fit-content;
  border-radius: 0.3rem;
  background-color: rgb(178, 68, 241);
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem;
}

img {
  height: 7rem;
  width: 7rem;
  border-radius: 0.4rem;
  border: 1px solid black;
}

.total-price {
  position: fixed;
  top: 5rem;
  right: 2%;
  height: 80%;
  padding: 1rem;
  margin-left: 2rem;
  width: 17rem;
  font-size: 2rem;
  color: rgb(18, 18, 18);
  background-color: rgb(108, 170, 251);
  box-shadow: 0px 0px 5px rgb(16, 16, 16);
  border-radius: 0.4rem;
  border: 1px solid rgb(108, 170, 251);
}
.items {
  margin-bottom: 4rem;
}

/* new css */

#customers {
  border-collapse: collapse;
  width: 60%;
  margin-top: 5rem;
  margin-left: 4rem;
  margin-bottom: 1rem;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: center;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(108, 170, 251);
  color: white;
}

.cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}
.cart-mesg {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  color: darkblue;
  padding: 7rem;

  background: #ff0000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff0000,
    #9932cc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff0000,
    #9932cc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
