@import "https://deploy-preview-13--agri-component.netlify.app/css/components.css";

* {
  margin: 0;
  padding: 0;
}

.main-container {
  background-image: url("https://i.ibb.co/LNhZGXX/agri.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 7rem;
}

.head-text {
  font-size: 2.5rem;
  color: var(--badge-offline-color);
  font-weight: 800;
  padding: 1rem;
}

.mtext {
  font-size: 3rem;
  color: var(--secondary-alert-icon-color);
  font-weight: 600;
  padding: 1rem;
}

.logo-text {
  font-size: 2rem;
  color: var(--pink-color);
  font-weight: 500;
  padding: 1rem;
}

.subtext-image {
  font-size: 1.5rem;
  color: var(--violet-color);
  font-weight: 400;
}

.text-in-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.btn {
  padding: 0;
  border: none;
  outline: none;
}
