.img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  height: 50vh;
  width: 80%;

  width: auto;
  margin-top: 7rem;
}
.page-not-found-text {
  margin-top: 10rem;
  text-align: center;
}
