.catagory-items-page {
  background-color: rgb(255, 255, 255);
  width: 15%;
  height: 100vh;
  padding: 0.5rem;
  position: fixed;
  left: 0;
  color: black;
  font-size: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
}

hr.sidebar-hr {
  margin: 0.7rem;
  border: 1px solid gray;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
input[type="checkbox"] {
  width: 1.1rem;
  height: 1.1rem;
  margin: 0 0.5rem;
  text-align: center;
}

input[type="radio"] {
  background-color: #fff;
  width: 1.1rem;
  height: 1.1rem;
  border: 0.3rem solid black;
  margin: 0.2rem;
  text-align: center;
}

.filtered-card {
  display: flex;
}
span.material-icons.ratingmi {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  font-weight: 800;
}
input[type="range"].input-range-type {
  appearance: none;
  margin: 0.5rem;
  width: 100%;
  height: 1.5rem;
  border-radius: 0.3rem;

  outline: none;
  margin-bottom: 0.5rem;
}
.sortbyrange {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  flex-direction: column;
}
.catagories-sort-by {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  height: auto;
  padding: 1rem;
}
input[type="range"]::-webkit-slider-runnable-track {
  border: none;
  opacity: 0.5;
}
.sort-by-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  height: auto;
  padding: 1rem;
}
.out-of-stock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  height: auto;
}
.clear-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  height: auto;
  padding: 1rem;
}
input[type="checkbox"] {
  accent-color: #39489a;
}
input[type="radio"] {
  accent-color: #39489a;
}
input[type="range"] {
  accent-color: #39489a;
}
