.featured-catagories {
  font-weight: 800;
  text-align: center;
  margin: 3rem;
  text-decoration: underline;
  text-decoration-color: var(--golden-color);
}

.catagory-choice {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box {
  width: 21rem;
  height: 15rem;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(14, 14, 14);
  box-shadow: 0px 0px 10px var(--dark-black-color);
  font-weight: bold;
  font-size: 1.5rem;
  background-size: cover;
  cursor: pointer;
  padding: 1rem;
}

.brand-choice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  background-size: cover;
}

.featured-brands {
  font-weight: 800;
  text-align: center;
  margin: 3rem;
  text-decoration: underline;
  text-decoration-color: var(--golden-color);
}

.brand-logo {
  width: 80%;
  height: 17rem;
  background-color: var(--background-universal-color);
  border-radius: 10px;
  margin: 1rem;
  box-shadow: 0px 0px 10px var(--dark-black-color);
  object-fit: cover;
  color: black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.brand-logo:hover {
  transform: scale(0.9);
}

.featured-products {
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 5rem;
  width: 100%;
  background: #eee;
}

.icons-container .icons {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 1rem;
  gap: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
}

/*  */

.icons-container .icons .content h3 {
  font-size: 2.5rem;
  color: rgb(102, 200, 246);
}

.icons-container .icons .content p {
  font-size: 1.5rem;
  color: rgb(119, 151, 161);
}

.icons-container .icons:hover {
  background: rgb(135, 135, 135);
}

.icons-container .icons:hover i {
  background: yellowgreen;
}

.icons-container .icons:hover .content h3 {
  color: #fff;
}

.icons-container .icons:hover .content p {
  color: #eee;
}
span.fbmi {
  font-size: 3rem;
}

.featured .featured-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured .featured-slider .box {
  padding: 2rem;
  text-align: center;
  box-shadow: 0px 0px 10px black;
  border-radius: 0.5rem;
  height: auto;
}

.featured .featured-slider .box img {
  height: 15rem;
}

.featured .featured-slider .box:hover img {
  transform: scale(0.9);
}
